<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <title>List of careers</title>
  </head>
  <body>
    <header>
      <div id="logo">
        <a href="/"><img src="escudouni.png" alt="UNCR logo">
        <p>Welcome to our vocational test service webpage!</p></a>
      </div>
      <nav>
        <ul>
          <li><a href="/careers">Careers</a></li>
          <li><a href="/questions">Questions</a></li>
          <li><a href="/surveys">Surveys</a></li>
        </ul>
      </nav>
    </header>
    <section>
      <div id="table of careers">
        <table border="1">
          <h1 id="table title">Career List</h1>
          <tr>
            <th>Career ID</th>
            <th>Career</th>
            <th>Delete</th>
          </tr>
          <%careers.map do |career|%>
          <tr>
            <th><%=career.career_id%></th>
            <th><a href='careers/<%=career.career_id%>'> <%=career.name%></a></th>
            <th>
              <form action="careers/<%=career.career_id%>/delete" method="post">
                <input type="hidden" name="id" value=<%=career.career_id%>>
                <button type="submit" name="button">Delete</button>
              </form>
            </th>
          </tr>
          <%end%>
        </table>
      </div>
      <br>
      <div id="add career">
        <h2 style="color:red" id="Add career title"> (Admin Only) Add a new career: </h2>
        <form action='/careers' method='POST' id='form1'>
          <input type='text' name='name' required>
          <input type='submit' value='Pero mira que buen boton'>
          <button type='submit' form='form1' value='Submit'> Apreta este si te gusta mas </button>
        </form>
      </div>
    </section>
    <br>
    <footer id="main footer">© 2021 team 1. All rights reserved.</footer>
  </body>
</html>
