<!DOCTYPE html>
<html>
  <head>
    <title>Description</title>
  </head>
  <body style="background-color:powderblue;">
    <header id="main header">
    </header>
    <nav id="main menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/careers">Careers</a></li>
        <li><a href="/questions">Questions</a></li>
        <li><a href="/surveys">Surveys</a></li>
      </ul>
    </nav>
    <section>
      <div id="parameters of careers">
        <h1 id="header title">Parameters of <%=career.name%>: </h1>
        <ul>
          <li> id: <%=career.career_id%></li>
          <li> name: <%=career.name%></li>
          <li> survey count: <%=career.surveys.count%></li>
        </ul>
      </div>
      <br>
      <div id="surveys">
        <%career.surveys.map do |survey|%>
          <h1> Surveys associated with <%=career.name%> </h1>
          <ul id="surveys names">
            <li> <%=survey.name%> </li>
          </ul>
        <%end%>
      </div>
    </section>
    <footer id="main footer">© 2021 team 1. All rights reserved.</footer>
  </body>
</html>
