<!DOCTYPE html>
<html>
  <head>
    <title>Finished</title>
  </head>
  <body>
    <p><%=career.career_id%></p>
    <p><%=career.name%></p>
    <p>Submit your name to save your results:</p>
    <form action='/surveys' method='POST' id='form1'>
      <p><label for="qname">Name:</label></p>
      <p><input type='text', id="qname", name='name'></p>
      <input type='hidden', id="career", name='career_id', value="<%=career.career_id%>">
    </form>
    <ul>
    <%careers.each do |career|%>
        <li>
          <%=career.career_id%> <%=career.acum%>
        </li>
      <%end%>
  </ul>
  </body>
</html>
