<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <title>Finished!</title>
  </head>
  <body>
    <header>
      <div id="logo">
        <a href="/"><img src="images/escudouni.png" alt="UNCR logo">
        <p>Welcome to our vocational test service webpage!</p></a>
      </div>
      <nav>
        <ul>
          <li><a href="/careers">Careers</a></li>
          <li><a href="/questions">Questions</a></li>
          <li><a href="/surveys">Surveys</a></li>
        </ul>
      </nav>
    </header>
    <section>
      <div class="text-l">
        <h1 id="header title">The career that most fits you, with a score of <%=max%> is:</h1>
        <br>
        <h2 style="color:black"><%=career.name%> (ID: <%=career.career_id%>)</h2>
      </div>
      <div id="submit-result">
        <br>
        <br>
        <p class="text-l">Submit your name to save your results:</p>
        <form action='/surveys' method='POST' id='form1'>
          <input type='text', id="qname", name='name'>
          <button type="submit" name="button">Submit name</button>
          <input type='hidden', id="career", name='career_id', value="<%=career.career_id%>">
        </form>
      </div>
      <div id="text-career">
        <p class="text-l">Compare it to other careers:</p>
        <ul>
        <%careers.each do |career|%>
            <li>
              <%=career.name%>: <%=career.acum%>
            </li>
          <%end%>
        </ul>
        <br>
      </div>
    </section>
    <footer id="main footer">©2021 team 1. All rights reserved.</footer>
  </body>
</html>
