<!DOCTYPE html>
<html>
  <head>
    <meta>
    <title>Test vocational</title>
  </head>
  <body style="background-color:powderblue;">
    <div>
      <p>Id question: <%=questions[it1].number.to_s%></p>
      <p>Name: <%=questions[it1].name%></p>
      <p>How much do you identify with the following statement? (From 0 to 5):</p>
      <p><%=questions[it1].description%></p>
    </div>
    <!-- </br><%=it1%>
    </br><%=it2%>
    </li><%=questions.length%>
    No entiendo para que està esto-->
    <div>
      <form action='/choices/update' method='POST' id='form1'>
        <input type='range', id="value", name='value', min="0" max="5",step="1">
        <input type="hidden" id="choiceid" name="choice_id" value="<%=questions[it1].choice_id%>">
        <input type="hidden" id="nextid" name="next_id" value="<%=questions[it2].question_id%>">
        <input type='submit' value='Submit value'>
      </form>
    </div>
  </body>
</html>
