<!DOCTYPE html>
<html>
<head>
    <title>Set Date</title>
</head>
<body>
    <form action="/surveys/careercount" method="get">
        <label for="start">Start date:</label>
        <input type="date" id="start" name="start_date"
            value=<%=first_date%> 
            min=<%=first_date%> 
            max=<%=last_date%> 
        >
        <label for="finish">Finish date:</label>
        <input type="date" id="start" name="finish_date"
            value=<%=first_date%>  
            min=<%=first_date%> 
            max=<%=last_date%>
        >
        <button type="submit" name="button">Buscar</button>
    </form>
</body>
</html>
