<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <title>Description</title>
  </head>
  <body>
    <header>
      <div id="logo">
        <a href="/"><img src="escudouni.png" alt="UNCR logo">
        <p>Welcome to our vocational test service webpage!</p></a>
      </div>
      <nav>
        <ul>
          <li><a href="/careers">Careers</a></li>
          <li><a href="/questions">Questions</a></li>
          <li><a href="/surveys">Surveys</a></li>
        </ul>
      </nav>
    </header>
    <section>
      <div id="survey description">
        <h1> Test taken by <%=survey.name%>: </h1>
        <ul>
          <li> id: <%=survey.survey_id%></li>
          <li> career: <%=career.name%></li>
        </ul>
      </div>
      <div id="delete survey">
        <form action="<%=survey.survey_id%>/delete" method="post">
          <input type="hidden" name="id" value=<%=survey.survey_id%>>
          <button type="submit">Delete</button>
        </form>
      </div>
    </section>
    <br>
    <footer id="main footer">© 2021 team 1. All rights reserved.</footer>
  </body>
</html>
