<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <title>Question</title>
  </head>
  <body>
    <header>
      <div id="logo">
        <a href="/"><img src="images/escudouni.png" alt="UNCR logo">
        <p>Welcome to our vocational test service webpage!</p></a>
      </div>
      <nav>
        <ul>
          <li><a href="/careers">Careers</a></li>
          <li><a href="/questions">Questions</a></li>
          <li><a href="/surveys">Surveys</a></li>
        </ul>
      </nav>
    </header>
    <section>
      <table border="1" id="question table">
        <h1>
          (Click on question if you want to modify outcomes)
        </h1>
        <thead>
          <tr>
            <th>Question ID</th>
            <th>Question text</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <%questions.map do |question|%>
          <tr>
            <th><%=question.question_id%></th>
            <th><a href='questions/<%=question.question_id%>/outcomes'> <%=question.description%> </a></th>
            <th>
              <form action="questions/<%=question.question_id%>/delete" method="post">
                <input type="hidden" name="id" value=<%=question.question_id%>>
                <button type="submit" name="button">Delete</button>
              </form>
            </th>
          </tr>
          <%end%>
        </tbody>
      </table>
      <br>
      <div id="Add question">
      <h3 style="color:red;"> (Admin Only) Add a new question to the test: </h3>
      <form action='/questions' method='POST' id='form1'>
        <label for="qdesc">Question description:</label>
        <input type='text', id="qdesc", name='description' required>
        <button type="submit" name="button">Submit question</button>
      </form>
    </section>
    <br>
    <footer id="main footer">© 2021 Team 1. All rights reserved.</footer>
  </body>
</html>
