<!DOCTYPE html>
<html>
  <head>
    <title>Question</title>
  </head>
  <body style="background-color:powderblue;">
    <header id="main header">
    </header>
    <nav id="main menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/careers">Careers</a></li>
        <li><a href="/questions">Questions</a></li>
        <li><a href="/surveys">Surveys</a></li>
      </ul>
    </nav>
    <section>
      <table border="1">
        <p>(Click on question if you want to modify outcomes)</p>
        <tr>
          <th>Question ID</th>
          <th>Question text</th>
          <th>Delete</th>
        </tr>
        <%@questions.map do |question|%>
        <tr>
          <th><%=question.question_id%></th>
          <th><a href='questions/<%=question.question_id%>/outcomes'> <%=question.description%> </a></th>
          <th>
              <form action="questions/<%=question.question_id%>/delete" method="post">
                <input type="hidden" name="id" value=<%=question.question_id%>>
               <input type='submit' value='Delete'>
              </form>
          </th>
        </tr>
        <%end%>
      </table>
      <br>
      <div>
      <h3 style="color:red;"> (Admin Only) Add a new question to the test: </h3>
      <form action='/questions' method='POST' id='form1'>
        <label for="qdesc">Question description:</label>
        <input type='text', id="qdesc", name='description' required>
        <input type='submit' value='Submit question'>
      </form>
    </section>
    <br>
    <footer id="main footer">© 2021 team 1. All rights reserved.</footer>
  </body>
</html>
