<!DOCTYPE html>
<html>
  <head>
    <meta>
    <title>Description</title>
  </head>
  <body style="background-color:powderblue;">
    <header id="main header">
      <nav id="main menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/careers">Careers</a></li>
          <li><a href="/questions">Questions</a></li>
          <li><a href="/surveys">Surveys</a></li>
        </ul>
      </nav>
    </header>
    <div>
      <h1> Question description: </h1>
      <ul>
        <li> id: <%=question.question_id%></li>
        <li> description: <%=question.description%></li>
      </ul>
    </div>
    <br>
    <div>
      <div>
        <form action="/questions/<%=question.question_id%>/outcomes" method="get">
          <button type="submit">Modify how this question affects career choice</button>
        </form>
      </div>
      <form action="<%=question.question_id%>/delete" method="post">
        <input type="hidden" name="id" value=<%=question.question_id%>>
        <input type="hidden" name="choice_id" value=<%=question.choice_id%>>
        <button type="submit">Delete</button>
      </form>
    </div>
    <br>
    <footer id="main footer">©2021 team 1. All rights reserved.</footer>
  </body>
</html>
