 <!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <title>Outcome</title>
  </head>
  <body>
    <header>
      <div id="logo">
        <a href="/"><img src="images/escudouni.png" alt="UNRC logo">
        <p>Welcome to our vocational test service webpage!</p></a>
      </div>
      <nav class="navigation">
        <ul class="mainmenu">
          <li><a href="/careers">Careers</a></li>
          <li><a href="/questions">Questions</a></li>
          <li><a href="/surveys">Surveys</a>
            <ul class="submenu">
              <li><a href="/surveys/setdate">Set date</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
    <section>
      <div id="show outcome">
        <h1>Associated outcomes:</h1>
        <div class="">
          <p class = "text-l">An outcome is a relation between this question and a particular career, it has a weight to determine how much this question
          contributes to deciding that a certain career is what really fits someone</p>
          <br>
          <p class = "text-l">List of all current outcomes for this question:</p>
        </div>
        <table border="1" id="outcome table">
          <thead>
            <tr>
              <th>Outcome ID</th>
              <th>Career --> weight</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <%outcomes.map do |outcome|%>
            <tr>
              <th><%=outcome.outcome_id%></th>
              <th><a href='/outcomes/<%=outcome.outcome_id%>'><%=Career.find(career_id: outcome.career_id).name%> --> <%=outcome.weight%> </a></th>
              <th>
                <form action="/outcomes/<%=outcome.outcome_id%>/delete" method="post">
                  <input type="hidden" name="id" value=<%=outcome.outcome_id%>>
                  <button type="submit" name="button">Delete</button>
                </form>
              </th>
            </tr>
            <%end%>
          </tbody>
        </table>
      </div>
      <br>
      <div id="add outcome">
        <div class="text">
          Add a new outcome:
        </div>
        <form action="/outcomes/new" method="post">
          <ul>
            <li>
              <label for="qcareer">Career id:</label>
              <select class="text-l" name="career">
                <%careers.map do |careers|%>
                <option class="text-l" value = <%=careers.career_id%> > <%=careers.name%> </option>
                <%end%>
              </select>
            </li>
            <li>
              <label for="qweight">Weighting:</label>
              <input type='number', id="qweight", name='weight' required>
            </li>
          </ul>
            <input type="hidden" id="choiceid" name="choice_id" value="<%=choice.choice_id%>">
            <button type="submit" name="button">Submit new outcome relation</button>
        </form>
        <form action="/questions" method="get">
          <button type="submit" name="atras">Back</button>
        </form>
        <br>
      </div>
    </section>
    <div>

    </div>
    <br>
    <footer id="main footer">©2021 Team 1. All rights reserved.</footer>
  </body>
</html>
