<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <title>Description</title>
  </head>
  <body>
    <header>
      <div id="logo">
        <a href="/"><img src="images/escudouni.png" alt="UNRC logo">
        <p>Welcome to our vocational test service webpage!</p></a>
      </div>
      <nav class="navigation">
        <ul class="mainmenu">
          <li><a href="/careers">Careers</a></li>
          <li><a href="/questions">Questions</a></li>
          <li><a href="/surveys">Surveys</a>
            <ul class="submenu">
              <li><a href="/surveys/setdate">Set date</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
    <section>
      <div id="outcome description">
        <h1 id="header title">Outcome description:</h1>
        <ul>
          <li> id: <%=outcome.outcome_id%></li>
          <li> career_id: <%=outcome.career_id%></li>
          <li> weight: <%=outcome.weight%></li>
        </ul>
      </div>
      <div>
      </div>
      <div id="update weight">
        <br>
        <form action="<%=outcome.outcome_id%>" method="post">
          <input type="hidden" name="id" value=<%=outcome.outcome_id%>>
          <label for="nWeight">Update weight:</label>
          <input type='number', id="nWeight", name='weight' required>
          <button type="submit">Update</button>
        </form>
        <form action="/questions/<%=question.question_id%>/outcomes" method="get">
          <button type="submit" name="Cancel">Back</button>
        </form>
      </div>
    </section>
    <br>
    <footer id="main footer">© 2021 Team 1. All rights reserved.</footer>
  </body>
</html>
