<!DOCTYPE html>
<html>
  <head>
    <title>Add values </title>
  </head>
  <body style="background-color:powderblue;">
    <div>
      An outcome is a relation between this question and a particular career, it has a weight to determine how much this question
      contributes to deciding that a certain career is what really fits someone
      <br>
      <br>
      List of all current outcomes for this question:
      <ul>
      <%outcomes.map do |outcome|%>
          <li> <a href='/outcomes/<%=outcome.outcome_id%>'> Career ID: <%=outcome.career_id%>, Weight: <%=outcome.weight%> </a>
          </li>
      <%end%>
    </ul>
    </div>
    <br>
    <div>
      Add a new outcome:
      <form action="/outcomes/new" method="post">
        <ul>
          <li>
            <label for="qcareer">Career id:</label>
            <select class="" name="career">
              <%careers.map do |careers|%>
              <option value = <%=careers.career_id%> > <%=careers.name%> </option>
              <%end%>
            </select>
          </li>
          <li>
            <label for="qweight">Weighting:</label>
            <input type='number', id="qweight", name='weight' required>
          </li>
        </ul>
          <input type="hidden" id="choiceid" name="choice_id" value="<%=choice.choice_id%>">
          <input type='submit' value='Submit new outcome relation'>
          </form>
          <br>
    </div>
    <br>
    <form action="/" method="get">
        <button type="submit" name="Back">Back to homepage</button>
      </form>
  </body>
</html>
